* {
    text-decoration: none;
    /* z.B. Links werden nicht unterstrichen */
}

a,
p,
li {
    color: #5e5e5e;
    /* Farbe für alle a & p-elemnte */
}

body {
    display: flex;
    flex-direction: column;
    background: #d7d7d7;
    overflow: scroll;
}

img {
    width: 100%;
    min-width: 20rem;
    max-width: 25rem;
    height: auto;
}


.container {
    margin-top: 3.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.content,
.content-left {
    display: flex;
    width: 95%;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    background-color: #e1e1e1;
    border-radius: 2.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    filter: drop-shadow(3px 3px 3px #bcbcbc) blur();
    overflow: hidden;

    & .bildrahmen {
        display: flex;
        filter: grayscale(80%);
    }

    & .text {
        padding: 0px 10px 0px;
        font-size: larger;


        & .title {
            font-weight: bold;
            text-transform: uppercase;
            color: #5e5e5e;
            margin-top: 1rem;
        }
    }
}

.content-left {
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Styling wenn der Cursor über dem Content-elemnt schwebt */
.content:hover,
.content-left:hover {
    box-shadow: 0px 0px 10px 5px #424242;
    transition: 250ms;

    & .bildrahmen {
        filter: grayscale(0%);
        transition: 200ms;
    }
}




/* Setzt das styling wenn die Bildschirmbreite des gerätes kleiner/gleich 600 Pixeln entspricht */
@media screen and (max-width: 700px) {

    .content,
    .content-left {
        flex-direction: column;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 35rem;
    }

    p {
        font-size: medium;
    }
}

/* Setzt das styling wenn der User "darkmode" aktiviert hat */
@media (prefers-color-scheme: dark) {

    a,
    p,
    li {
        color: #d7d7d7;
    }

    .navbar {
        background-color: #2e302f;
        filter: drop-shadow(3px 3px 3px #2a2c2b) blur();
    }

    .navbar-a {
        color: #d7d7d7;
    }

    .content,
    .content-left {
        background-color: #383d39;
        filter: drop-shadow(3px 3px 3px #202020) blur();

        .text {
            & .title {
                color: #d7d7d7;
            }
        }
    }

    body {
        background: #282828;
    }

    footer {
        background-color: #282828;
    }

}