* {
    text-decoration: none;
    /* z.B. Links werden nicht unterstrichen */
}

a,
p {
    color: #5e5e5e;
    /* Farbe für alle a & p-elemnte */
}

body {
    background: #d7d7d7;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    width: 100%;
    filter: drop-shadow(3px 3px 3px #c8c8c8);
    background-color: #e1e1e1;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: auto;
}

.navbar-brand {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        color: grey;
    }
}


.spacer {
    height: 25px;
    margin-top: 24px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content,
.content-left {
    display: flex;
    width: 95%;

    align-items: flex-start;
    margin-bottom: 25px;
    background-color: #e1e1e1;
    border-radius: 2.5px;
    filter: drop-shadow(3px 3px 3px #bcbcbc) blur();
    overflow: hidden;

    & .bildrahmen {
        display: flex;
        filter: grayscale(80%)
    }

    & .text {
        padding: 0px 10px 0px;

        & .title {
            font-weight: bold;
            text-transform: uppercase;
            color: #5e5e5e;
            margin-top: 1rem;
        }
    }
}

.content-left {
    justify-content: space-between;
}

/* Styling wenn der Cursor über dem Content-elemnt schwebt */
.content:hover,
.content-left:hover {
    box-shadow: 0px 0px 10px 5px #5e5e5e;
    transition: 250ms;

    & .bildrahmen {
        filter: grayscale(0%);
        transition: 250ms;
    }
}


footer {
    display: block;
    background-color: #3e3e3e;
    padding: 2px;
    width: auto;
    color: whitesmoke;
    border: 1.5px solid black;
    position: fixed;
    bottom: 0;
}

/* Setzt das styling wenn die Bildschirmbreite des gerätes kleiner/gleich 600 Pixeln entspricht */
@media screen and (max-width: 600px) {}

/* Setzt das styling wenn der User "darkmode" aktiviert hat */
@media (prefers-color-scheme: dark) {

    a,
    p {
        color: #d7d7d7;
    }

    .navbar {
        filter: drop-shadow(3px 3px 3px #2a2c2b) blur();
    }

    .navbar-a {
        color: #d7d7d7;
    }

    .content,
    .content-left {
        background-color: #383d39;
        filter: drop-shadow(3px 3px 3px #202020) blur();

        .text {
            & .title {
                color: #d7d7d7;
            }
        }
    }

    body {
        background: #282828;
    }

    footer {
        background-color: #282828;
    }

    .navbar {
        background-color: #2e302f;
    }
}