* {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

a, p, h1 {
    color: whitesmoke;
}

body {
    background-color: #ffffff;
    opacity: 1;
    background-image:  repeating-linear-gradient(45deg, rgba(0,0,0,0.34) 25%, transparent 25%, transparent 75%, rgba(0,0,0,0.34) 75%, rgba(0,0,0,0.34)), repeating-linear-gradient(45deg, rgba(0,0,0,0.34) 25%, #ffffff 25%, #ffffff 75%, rgba(0,0,0,0.34) 75%, rgba(0,0,0,0.34));
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
}
.content{
    display: flex;
    width: fit-max;
    align-items: flex-start;
    margin-top: 30px;
    background-color: #3e3e3e;
    border-radius: 2.5px;
    box-shadow: 3px 3px 3px #3e3e3e;
    filter: blur();
    overflow: hidden;

    & .bildrahmen {
        display: flex;
    }

    & .text {
        padding-left: 10px;
    }
}

.navbar{
    display: flex;
    justify-content: flex-start;
    padding: 2px;
    width: 100%;
    border-bottom: solid 1.5px;
    background-color: #3e3e3e;
    position: absolute;
    top:0px;    
    right:0px;
}

.navbar-brand {
    margin-left: 10px;
    margin-right: auto;
    top: 0;
    align-self: flex-start;

    &:hover {
        color: grey;
    }
}

footer {
    display: block;
    background-color: #3e3e3e;
    padding: 2px;
    width: auto;
    color: whitesmoke;
    border: 1.5px solid black;
    position: fixed;
    bottom: 0;
}

@media screen and (max-width: 600px) {
    body{
        background-color: aliceblue;
    }
}

@media (prefers-color-scheme: light) {
    body{
        background-color: #FFF2D8;
        opacity: 1;
        background-image:  repeating-linear-gradient(45deg, #EAD7BB 25%, transparent 25%, transparent 75%, #EAD7BB 75%, #EAD7BB), repeating-linear-gradient(45deg, #EAD7BB 25%, #FFF2D8 25%, #FFF2D8 75%, #EAD7BB 75%, #EAD7BB);
        background-position: 0 0, 30px 30px;
        background-size: 60px 60px;
    }
    footer {
        background-color: #BCA37F;
    }
    .navbar {
        background-color: #BCA37F;
    }
    ul {
        background-color: #BCA37F;
    }
}