.construction {
  display: flex;
  flex-direction: column;
  height: 85vh;
  width: 85vw;
  background-color: black;
  align-items: center;
  justify-content: center;

  .construction-text {
    font-size: 3rem;
    color: aliceblue;
  }
}