/*Root styling and Variables*/
/* rubik-regular - latin */
@font-face {
  font-display: auto;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  src: url("../rubik-v28-latin/rubik-v28-latin-regular.woff2") format("woff2"),
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url("../rubik-v28-latin/rubik-v28-latin-regular.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

* {
  font-family: "Rubik";
  text-decoration: none;

  &&::selection {
    color: var(--background-content);
    background: var(--title);
  }
}

:root {
  --background: #2b2b2b;
  --background-content: #343434;
  --title: #9c9c9c;
  --link: #5c5c5c;
  --brightness-blur: 50%;
  --drop-shadow: 3px 3px 3px #545454;
  --drop-shadow-hover: #3f3f3f;
}

.light-mode {
  --background: #d7d7d7;
  --background-content: #e1e1e1;
  --title: #5e5e5e;
  --brightness-blur: 150%;
  --link: #a0a0a0;
  --drop-shadow: 3px 3px 3px #bcbcbc;
  --drop-shadow-hover: #b8b8b8;
}

/*General Styling*/

html {
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: var(--background);
}

a,
p,
li {
  color: var(--title);
}

.link {
  color: var(--link);
  text-decoration: dashed underline;

  &&.link:hover {
    transition: 500ms;
    text-decoration: underline;
    text-decoration-color: var(--title);
    text-decoration-thickness: 1.5px;
  }
}

.img {
  display: flex;
  align-self: center;
  width: 100%;
  min-width: 10rem;
  max-width: 25rem;
  height: auto;
  filter: grayscale(80%);
}

/*Content in the Page*/

.container {
  display: flex;
  min-height: 90vh;
  min-height: 90svh;
  margin-top: 1.5rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.heading-baseball,
#teams {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  background-image: url("../assets/copy1920.webp");
  filter: grayscale(30%) drop-shadow(var(--drop-shadow));
  background-size: cover;
  background-position: center;
  height: 23.5rem;
  border-radius: 10px;
}

.h1-heading {
  width: fit-content;
  height: fit-content;
  -webkit-backdrop-filter: blur(5px) brightness(var(--brightness-blur)) grayscale(80%);
  backdrop-filter: blur(5px) brightness(var(--brightness-blur)) grayscale(80%);
  text-align: center;
  color: var(--title);
  padding: 2.5rem 5rem;
  border-radius: 5px;
}

.divider {
  display: block;
  width: 85%;
  border: 1px solid var(--title);
}

.content,
.content-left,
.content-teams {
  display: flex;
  width: 95%;
  background-color: var(--background-content);
  border-radius: 10px;
  filter: drop-shadow(var(--drop-shadow));
  overflow: hidden;
}

.text {
  padding: 10px 15px 10px 10px;
  font-size: 135%;

  .title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--title);
    font-size: clamp(1.25rem, 1.35vw, 2vw);
  }

  p,
  li {
    margin: 7.5px 0 0 0;
    font-size: clamp(1.25rem, 1.245vw, 2.5vw);
  }
}

.content-left {
  justify-content: space-between;
}

.content:hover,
.content-left:hover {
  box-shadow: 0px 0px 10px 5px var(--drop-shadow-hover);
  transition: 250ms;

  && .img {
    filter: grayscale(0%);
    transition: 200ms;
  }
}

.sources,
.infos-teams {
  margin-top: 5px;
  list-style: none;

  /* &&.sources li:hover {
    text-decoration: underline;
    text-decoration-color: var(#5e5e5e);
    text-decoration-thickness: 1.5px;
  } */
}

/* Styling for teams.html */

#infos {
  margin: 0;
}

#teams {
  background-image: url(../assets/wade-austin-ellis-GudTmd-Q3Cg-unsplash.webp);
  background-position: 0% 70%;
}

.infos-teams li {
  margin: 7.5px 0;
  font-size: clamp(1rem, 1.125vw, 2vw);
}

.bildrahmen-teams {
  display: flex;
  min-width: clamp(100px, 12.5vw, 15vw);
  min-height: clamp(100px, 12.5vw, 15vw);
  height: 100%;
  justify-content: end;
  align-self: center;
  align-items: center;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px;
}

#yankees {
  background-image: url(../assets/Yankees_logo.svg);
}

#redsox {
  background-image: url(../assets/BostonRedSox_CapLogo.svg);
}

#cubs {
  background-image: url(../assets/Chicago_Cubs_logo.svg);
}

.h1-heading-teams {
  margin: 0;
  padding: 5px 0;
  padding: auto 0;
  font-size: 40px;
  font-weight: 800;
  width: fit-content;
  height: fit-content;
  writing-mode: vertical-lr;
}

#h1-yankees {
  color: #0f1c43;
  background-color: #ffffff;
}

#h1-redsox {
  color: #ed171f;
  -webkit-text-stroke: #ffffff 2px;
  /* background-color: #051c43; */
}

#h1-cubs {
  color: #cc3433;
  -webkit-text-stroke: #ffffff 2px;
  background-color: #0e3386;
}

.content-teams {
  display: flex;
  gap: 1rem;
  flex-direction: column;

  .team {
    display: flex;
    flex-direction: row;
  }
}

/*Styling for leagues.html*/

.center {
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.card {
  width: 80px;
  border-radius: 0.75rem;
  background-size: cover;
  cursor: pointer;
  overflow: hidden;
  border-radius: 2rem;
  margin: 0 10px;
  display: flex;
  align-items: flex-end;
  transition: 0.6s cubic-bezier(0.28, -0.03, 0, 0.99);
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.card>.row {
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.card>.row>.icon {
  background: #223;
  color: white;
  border-radius: 50%;
  width: 3vw;
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.card>.row>.description {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 80px;
  width: 520px;
  opacity: 0;
  transform: translateY(30px);
  transition-delay: .3s;
  transition: all .3s ease;
}

.league {
  height: 60vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
}

input {
  display: none;
}

input:checked+label {
  width: 600px;
}

input:checked+label .description {
  opacity: 1 !important;
  transform: translateY(0) !important;
}


/*styling for sources.html*/

#no-hover:hover {
  box-shadow: none;
}

/*Media Query*/

@media screen and (max-width: 700px) {

  .content,
  .content-left {
    flex-direction: column;
  }

  .img {
    width: 100%;
    height: auto;
    max-width: 42rem;
  }

  .content-teams {
    .team {
      flex-direction: column;
    }
  }

  .bildrahmen-teams {
    min-width: clamp(100px, 25vw, 30vw);
    min-height: clamp(100px, 25vw, 30vw);
    align-items: flex-end;
  }

  .h1-heading-teams {
    writing-mode: unset;
  }
}