@import url('https://fonts.googleapis.com/css2?family=Figtree&display=swap');

* {
    text-decoration: none;
    font-family: 'Figtree', sans-serif;

    &&::selection {
        color: var(--background-content);
        background: var(--title);
    }
}

:root {
    --background: #2b2b2b;
    --background-content: #343434;
    --title: #777777;
    --drop-shadow: 3px 3px 3px #545454;
    --drop-shadow-hover: #3f3f3f;
}

.light-mode {
    --background: #d7d7d7;
    --background-content: #e1e1e1;
    --title: #5e5e5e;
    --drop-shadow: 3px 3px 3px #bcbcbc;
    --drop-shadow-hover: #b8b8b8;
}

a,
p,
li {
    color: var(--title);
}

html {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: var(--background);
}

img {
    width: 100%;
    min-width: 10svw;
    max-width: 25rem;
    height: auto;
}


.container {
    display: flex;
    min-height: 90vh;
    min-height: 90svh;
    margin-top: 1.5rem;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: visible;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-image: url("../assets/copy1920.webp");
    filter: grayscale(30%) drop-shadow(var(--drop-shadow));
    background-size: cover;
    background-position: center;
    height: 23.5rem;
    border-radius: 10px;
}

h1 {
    margin: 0 0 1.5rem 0;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    background-color: var(--background-content);
    text-align: center;
    color: var(--title);
}

.divider {
    display: block;
    width: 85%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-width: 2.5px;
    border-color: var(--title);
}

.content,
.content-left {
    display: flex;
    width: 95%;
    align-items: flex-start;
    margin-bottom: 1.5rem;
    background-color: var(--background-content);
    border-radius: 2.5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    filter: drop-shadow(var(--drop-shadow));
    overflow: hidden;

    & .bildrahmen {
        display: flex;
        filter: grayscale(80%);
    }

    & .text {
        padding: 10px;
        font-size: 125%;


        & .title {
            font-weight: bold;
            text-transform: uppercase;
            color: var(--title);
        }
    }
}

.content-left {
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content:hover,
.content-left:hover {
    box-shadow: 0px 0px 10px 5px var(--drop-shadow-hover);
    transition: 250ms;

    & .bildrahmen {
        filter: grayscale(0%);
        transition: 200ms;
    }
}

.sources {
    list-style: none;

    & li:hover {
        text-decoration: underline;
        text-decoration-color: #282828;
        text-decoration-thickness: 2.5px;
    }
}


@media screen and (max-width: 700px) {

    .content,
    .content-left {
        flex-direction: column;
    }

    img {
        width: 100%;
        height: auto;
        max-width: 42rem;
    }

    p,
    li {
        font-size: medium;
    }
}
